@import "bootstrap";

body {
  background: url("https://images.unsplash.com/photo-1505075106905-fb052892c116?auto=format&fit=crop&w=1500&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #5b504b;
}

html a {
  color: #a3998b;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 12px;
  background-color: #322925;
  z-index: 1;
}

header a {
  margin-right: 10px;
}

#name {
  float: right;
  font-weight: 600;
  font-size: 20px;
  color: #a3998b;
}

#searchForm {
  float: right;
}

li {
  list-style-type: none;
}

.card {
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-style: inset;
  color: #fff;
  border-radius: 23px;
  padding: 23px;
  vertical-align: middle;
  background-color: rgba(76, 86, 96, 0.7);
}
