<h1>Products</h1>

<% @topThree.each do |product| %>
  <li><%= link_to product.title, product_reviews_path(product) %></li>
<% end %>

<%= link_to @featured.title, product_reviews_path(@featured) %>

<hr>
